################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ARC2016.VC.VC.opendb
/ARC2016.VC.db
/ARM
/ipch
/obj
/ARC2016/ARM
/ARC2016/Assets
/ARC2016/Debug
/ARC2016/Release
